.score {
  &__container {
    background: var(--bg-col);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    border-radius: 1.5rem;
    padding: 2rem;
    &-score {
      text-align: center;
      font-size: clamp(5.5rem, 4.268rem + 5.258vw, 9rem);
      font-style: normal;
      font-weight: 500;
    }
    p {
      font-style: normal;
      margin: 0;
    }
    &__object {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
  &__restart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: white;
  }
}


@media (min-width: 768px){
  article {
    padding: 2.5rem 4rem;
  }
  h1 {
    width: 29rem;
  }

}
@media (min-width: 1024px) {
.score  {
  display: flex;
  gap: 10rem;
}
}
