img,
svg {
  display: block;
  max-width: 100%;
}
:host {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  &__object {
    visibility: hidden;
  }

  &-darkmode__switch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &-sun {
      width: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
      height: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
      img {
        content: var(--sun-src);
      }
    }
    &-moon {
      width: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
      height: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
      img {
        content: var(--moon-src);
      }
    }
    &-main {
      &__input {
        display: none;
      }
      &__slider {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--purple);
        cursor: pointer;
        border-radius: 62.4375rem;
      }
    }
  }
}

.theme-switcher {
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--header-theme-switch-background-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 6px;
      bottom: 3px;
      background-color: var(--header-theme-switch-before-background-color);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider {
    background-color: var(--header-theme-switch-checked-background-color);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--header-theme-switch-checked-background-color);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 0;
  }
}
