<div
  class="question"
  *ngIf="currentQuestionIndex !== selectedQuiz?.questions?.length"
>
  <div class="question__header">
    <div class="question__header-wrapper">
      <p>
        Question {{ currentQuestionIndex + 1 }} of
        {{ selectedQuiz?.questions?.length }}
      </p>
      <h2>{{ currentQuestion.question }}</h2>
    </div>
    <div class="question__header-progress">
      <span [style.width.%]="progressWidth"></span>
    </div>
  </div>
  <div class="question__choices" >
    <button
      id="A"
      class="question__choices-option"
      *ngFor="let option of currentQuestion.options; let i = index"
      (click)="handleAnswer(option, i)"
      [class.selected]="i === activeAnswer && !isAnswered"
      [class.correct]="
        showResult && isAnswerCorrect && i === correctAnswerIndex
      "
      [class.wrong]="showResult && !isAnswerCorrect && i !== correctAnswerIndex"
      [class.show-correct]="showCorrectAnswer && i === correctAnswerIndex"
    >
      <div
        class="question__choices-option-box"
        [class.correct-box]="
          showResult && isAnswerCorrect && i === correctAnswerIndex
        "
        [class.wrong-box]="
          showResult && !isAnswerCorrect && i !== correctAnswerIndex
        "
        [class.show-correct-box]="showCorrectAnswer && i === correctAnswerIndex"
      >
        {{ i + 1 }}
      </div>
      {{ option }}
    </button>
    <button
      class="question__choices-submit"
      (click)="submitAnswer()"
      [style.opacity]="isChosen !== undefined ? '1' : '0.6'"
    >
      Submit
    </button>
  </div>
</div>
<app-score
  *ngIf="currentQuestionIndex === selectedQuiz?.questions?.length"
  [correctAnswer]="correctAnswersCount"
></app-score>
